{% extends "base.html" %}
{%block title%}Projects{%endblock%}

{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/projects.css')}}">
{%endblock%}

{%block content%}
<div class="all-projects">
    <div class="project">

        <h1>CS GO PRO STATS</h1>

        <p>

            This project aims to create a reliable source of information for professional CS:GO player stats given that, at least at the time of the project conception, there was no good API related to eSport pro player stats.
            For CS:GO the only reliable way to get data is through HLTV, which does not have an official API, so the only way to really get this project 
            to work was to data mine HLTV (I'm not sure how legal this is by the way) and store all of the infomation in a seperate MongoDB database.
            
            <br><br>

            To use the code in the project you have to setup your own MongoDB database and you have to update the database through data mining (which is pretty slow because of a limit in the number of requests).

        </p>

        <button class="btn" onclick="window.location = 'https://github.com/Turricode/CS-GO-Pro-Stats'">
            SEE ON GITHUB
        </button>

    </div>

    <div class="project">
        <h1>IMAGE TO PAINTING</h1>
        <p>
            It's literally what it's called. This python program takes an image as an argument and spits out the same image just modified to look like a painting.
            <br>
            It's a bit slow due to its underlying algorithm. It takes the color for every other N number of pixels and generates a random bezier curve
            starting in the same position and of the same color. The thickness and remaining point coordinates are also generated randomly.

            <br>
            <br>

            If you want to use this project I recomend you play arround with some of the variables to make sure you get the results you are looking for.


        </p>

        <img src="{{url_for('static', filename = 'img/rose.jpg')}}" alt="">

        <button class="btn" onclick="window.location = 'https://github.com/Turricode/image-to-painting'">
            SEE ON GITHUB
        </button>
    </div>

    <div class="project">
        <h1>BRAINFUCK INTERPRETER</h1>

        <p>
            Brainfuck is an esoteric language composed of eight basic commands, it essentially behaves like a turing machine. It's pretty basic but it was a fairly fun 
            and quick project. 

            <br>
            <br>

            To run the project you simply pass in a file path containing the code you entend to run and the interpreter will run the code. The program works on runtime.
        </p>

        <button class="btn" onclick="window.location = 'https://github.com/Turricode/bf_runtime'">
            SEE ON GITHUB
        </button>

    </div>

</div>
{%endblock%}